.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

h1 {
  color: #333;
}

.add-task-wrapper {
  display: flex;
  align-items: center;
  margin-block: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.select-wrapper {
  display: flex;
  align-items: center;
  margin-block: 20px;
}

select {
  flex: 1;
  margin-inline-start: 2%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-name {
  flex: 1;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  background-color: #007bff;
}

.delete-button {
  background-color: #dc3545;
  margin-inline-start: 2%;
}

.add-button, .save-button {
  background-color: #28a745;
}

button:hover {
  opacity: 0.8;
}